html,
body {
}

* {
	box-sizing: border-box;
}

:root {
	--nprogress-bg: #ff5376;
}

/* Clases personalizadas */

/* Nprogress barra spinner de carga */

#nprogress .bar {
	background: var(--nprogress-bg);
}

#nprogress .spinner-icon {
	width: 21px;
	height: 21px;
	border-top-color: var(--nprogress-bg);
	border-left-color: var(--nprogress-bg);
}

/* Clases Portfolio */
.overflow {
	height: 13rem;
	overflow: hidden;
}

.card-img-top {
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
	transform: scale(1.1);
}

@media (min-width: 1200px) {
	.overflow {
		height: 19rem;
	}
}

@media (max-width: 1200px) {
	.overflow {
		height: 16rem;
	}
}

@media (max-width: 991px) {
	.overflow {
		height: 12rem;
	}
}

@media (max-width: 767px) {
	.overflow {
		height: 18rem;
	}
}
